body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
	background-color: 
}

#content {
	/*
	fit the height of the container to the window 
	(when you press down, it can't move the page)
	*/
	border: 2px solid black;
	width: 500px;
	margin: auto;
	height: 500px;
}

#game-container {
	/*	height: 500px;
		width: 100%; 
		game doesn't need to be responsive
	*/
}

#header, #content, #footer {
	text-align: center;
}
#command{
	height: 50px;
	width: 50px;
	background-color: black;
	position: relative;
}