body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
	background-color: 
}

#content {
	border: 2px solid black;
}

#game-container {
	height: 500px;
	width: 100%;
}

#header, #content, #footer {
	text-align: center;
}