body {
	margin:0;
	padding: 0;
	font-family: sans-serif;
	background-color: #ffffff;
}

#content {
	/*
	fit the height of the container to the window 
	(when you press down, it can't move the page)
	*/
	border: 2px solid black;
	width: 500px;
	margin: auto;
	margin-top: 5%;
	height: 500px;
}

#game-container {
	/*	height: 500px;
		width: 100%; 
		game doesn't need to be responsive
	*/
}

#header, #content, #footer {
	text-align: center;
}
#command{
	height: 50px;
	width: 50px;
	background-color: black;
	position: relative;
}